@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticlesOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}


<div id="header-banner" class="">
    <div class="container">
        <h1 class="banner-title font-weight-bold text-center">@Umbraco.Field("articlesTitle")</h1>
    </div>
</div>
<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    @Umbraco.Field("articlesBodyText")
                    
                    <div class="articles-grid">

                    @Umbraco.RenderMacro("ArticlesList")

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- #main -->
</div> <!-- #main-container -->

