@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TextPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div id="header-banner" class="jumbotron">
    <div class="container">
        <h1 class="banner-title font-weight-bold text-center">@Umbraco.Field("header")</h1>
    </div>
</div>
<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    @Umbraco.Field("mainContent")
                </div>
            </div>
        </div>
    </div> <!-- #main -->
</div> <!-- #main-container -->
<footer id="footer">
    <div class="inside-footer container">
        <div class="row footer-row">
            <div class="col-sm-12">
                @Umbraco.Field("header")
            </div>
        </div>
    </div>
</footer>
